# ============================================================
# Jupyter notebooks (uncomment to ignore)
# notebooks/*.ipynb
# notebooks/.ipynb_checkpoints/

# ============================================================
# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/

# ============================================================
# Conda
.conda/

# ============================================================
# Panel / Bokeh
.panel_cache/
*.log

# ============================================================
# OS
.DS_Store
Thumbs.db